.cool-feedback-notice-wrapper.notice.notice-info.is-dismissible {
  padding: 5px;
  width: 65%;
  border-radius: 5px;
}
.cool-feedback-notice-wrapper .logo_container {
  width: 80px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.cool-feedback-notice-wrapper .logo_container img {
  width: 100%;
  height: auto;
}
.cool-feedback-notice-wrapper .message_container {
  width: calc(100% - 120px);
  display: inline-block;
  margin: 0;
  vertical-align: top;
  padding: 4px;
}
.cool-feedback-notice-wrapper ul li {
  float: left;
  margin: 0px 5px;
}
.clrfix {
  clear: both;
}

.callto_action .love_it {
  margin: unset;
}
.cool-feedback-notice-wrapper ul li.already_rated a:after {
  color: #f12945;
  content: "\f153";
  font: normal 18px/21px dashicons;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
